<div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="" class="navbar-brand" [routerLink]="['/threeway']">BOOMYARD</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']" *ngIf="authService.loggedIn()">
              <a [routerLink]="['/threeway']">THREEWAY</a>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="authService.loggedIn()">
              <a [routerLink]="['/btts']">BTTS</a>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="authService.loggedIn()">
              <a [routerLink]="['/over']">OVER</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/our_run']">OUR RUN</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" *ngIf="authService.loggedIn()">
            <li><a (click)="onLogout()" href="#">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </div>

